{% extends "base.html" %}
{% block content %}

<h3 class="light-blue-text text-darken-4 center-align">Tasks</h3>

<div class="row">
  <div class="col s12 center-align">
    <!-- Calls the Python function 'add_category():'; not the @app.route -->
    <a href="{{ url_for('add_task') }}" class="btn-large light-blue darken-2">
      Add Task <i class="fas fa-plus-square right"></i>
    </a>
  </div>
</div>

<!-- https://materializecss.com/collapsible.html -->
<ul class="collapsible">
  <!-- loop over each task (as number is unknown) and dynamically create an <li> for it -->
  <!-- Use Jinja filters to sort the tasks by due date -->
  <!-- https://jinja.palletsprojects.com/en/3.0.x/templates/#jinja-filters.sort -->
  <!-- I added a custom sort to put urgent entries first -->
  {% for task in tasks|sort(attribute="due_date")|sort(reverse=True, attribute="is_urgent") %}
  <li>
    <div class="collapsible-header white-text light-blue darken-4">
      <i class="fas fa-caret-down"></i>
      <!-- Include string from time Python directive for appropriate date display -->
      <!-- See https://strftime.org/ -->
      <!-- Format matches that specified in Materialize init in script.js -->
      <strong>{{ task.task_name }}</strong> : {{ task.due_date.strftime("%d %B, %Y") }}
      <!-- Check is_urgent condition -->
      {% if task.is_urgent == True %}
      <i class="fas fa-exclamation-circle light-blue-text text-lighten-2"></i>
      {% endif %}
    </div>
    <div class="collapsible-body">
      <strong>{{ task.category }}</strong>
      <p>{{ task.task_description }}</p>
      <p>
        <a href="{{ url_for('edit_task', task_id=task.id) }}" class="btn green accent-4">Edit</a>
      </p>
    </div>
  </li>
  {% endfor %}
</ul>

{% endblock %}